@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  font-family: "Inter", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f8f9;
  height: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e6efff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
